[submodule "opensur/fe"]
	path = opensur/fe
	url = git@git.opensur.com:uruguay/fe_new.git
	branch = bitafal.prod
[submodule "bitafal"]
	path = bitafal
	url = git@git.opensur.com:clientes/bitafal.git
	branch = prod
